$font-primary: Open Sans;
$font-secondary: Raleway;

$color-blue-dark-intro: hsl(217, 28%, 15%); //intro and email sign up background
$color-blue-dark-main: hsl(218, 28%, 13%); // main background
$color-blue-dark-footer: hsl(216, 53%, 9%); // footer bg
$color-blue-dark-testimonals: hsl(219, 30%, 18%); // testimonials background

$color-text: hsl(228, 45%, 44%); //// useless
$color-white: hsl(0, 0%, 100%);
$color-gradient-1: hsl(176, 68%, 64%);
$color-gradient-2: hsl(198, 60%, 50%);

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.07);

$bp-mobile: 31.25em; //500px
